html {
    scroll-behavior: smooth;
    background-color: #78DEC7;
}


body {
    padding: 0;
    margin: 0;
    color: #78DEC7;
}

.navbar {
    background:#CA33FF;
    border-bottom: solid 2px red;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

.nav-link:hover {
    color: #78DEC7;
}

.navbar-collapse {
    justify-content: flex-end;
}



.top-container {
  text-align: center;
  padding: 5% 10%;
  background-color: #FF00BD;
  margin-top: 75px;
  font-weight: bold;
  color: #78DEC7;
}

.top-container h1 {
  text-align: center;
  padding: 5% 10%;
  background-color: #FF00BD;
  font-weight: bold;
  color: #78DEC7;
}

.top-container p {
  margin-top: 10px;
  font-weight: bold;
}

.bottom-container {
  text-align: left;
  background-color: #78DEC7;
  padding: 20px 20px;
  font-size: 16px;
}

.top-section-header {
  text-align: center;
  padding: 5px;
  font-weight: bold;
  color: #CA33FF;
}

.who-section-header {
  text-align: center;
  padding: 25px 2px 10px 2px;
  color: #FF00BD;
  font-weight: bold;
}

.section-header {
  text-align: center;
  padding: 25px 15px 10px 15px;
  font-weight: bold;
  color: #CA33FF;
}

.help-section-header {
  text-align: center;
  padding: 25px 2px 10px 2px;
  color: #FF00BD;
  font-weight: bold;
}

.final-section-header {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
}

/* .container {
  height: 70px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.button-wrapper {
  text-align: center;
}

.copy-button {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  height: 50px;
  border: 2px solid #FF00BD;
  border-radius: 13px !important;
  font-weight: bold;
  background-color: #CA33FF;
  color: white;
}

.copy-button-after {
  display: none;
  text-align: center;
  font-size: 20px;
  height: 50px;
  border: 2px solid #FF00BD;
  border-radius: 13px !important;
  font-weight: bold;
  background-color: #CA33FF;
  color: white;
}

.thanks {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #CA33FF;
  display: none;
}

.thanks-show {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #CA33FF;
  display: block;
  animation: fadeIn 0.25s;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@media (max-width: 575.98px) {

    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }

    .description h1 {
        font-size: 2em;
    }

    .description p {
        font-size: 1.2rem;
    }

    .features {
        margin: 0;
    }

}
