body {
  background-color: #78DEC7;

}

.navbar {
    background:#CA33FF;
    border-bottom: solid 2px red;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

.nav-link:hover {
    color: red;
}

.navbar-collapse {
    justify-content: flex-end;
}

/*
.alert {
  padding: 15px;
  margin-top: 0px;
  border: 1px solid transparent;
  border-radius: 30px;
  margin-bottom: 0px;
}
*/

.head h2 {
  color: #CA33FF;
  text-align: center;
  font-weight: bold;
  margin-top: 130px;
  margin-bottom: 0;
}

.head img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.head p {
  text-align: center;
  font-weight: bold;
  line-height: 1.25;
  margin: 0 30px;
}



.links {
  margin-top: 10px;
}

.row {
  margin-right: 10px;
  margin-left: 10px;
}

.col-sm {
  background: #CA33FF;
  color: white;
  border: 1px solid black;
  margin: 9px 0;
  padding: 12px 0;
  border-radius: 10px;
  font-weight: bold;
  filter: drop-shadow(-5px 5px 6px #333);

}

.col-sm.balls {
  background: red;
  color: white;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 32px;
  padding: 15px 0;
  border-radius: 10px;
  font-weight: bold;
  filter: drop-shadow(-5px 5px 4px #CA33FF);

}

.fart-button {
  margin-top: 30px;
  margin-bottom: 10px;
}

#cool {
  animation-duration: 1s;
  animation-name: cool;
}

@keyframes cool {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.link-image {
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
}



.bg-image {
  background: url("https://media-cldnry.s-nbcnews.com/image/upload/newscms/2017_22/2017176/170529-tiger-woods-mugshot-1152a-rs.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .header {
    background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2017-02/15/7/campaign_images/buzzfeed-prod-fastlane-03/people-are-going-nuts-over-this-ugly-cat-after-he-2-16236-1487161410-0_dblbig.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 4rem;
} */

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #CA33FF;
    text-shadow: -3px 3px black;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button {
    border:1px solid #FF0000;
    background:#FF0000;
    border-radius: 10px;
    color:#fff;
    padding: 2% 10%;
}

.description button:hover {
    border:1px solid #fff;
    background:#fff;
    color:#FF0000;
}

.features {
    margin: 4em auto;
    position: relative;
    background-color: black;
}

/* .container-fluid {

} */

.feature-title {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}


.feature-description {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.feature-border {
    border:2px solid #CA33FF;
    margin-bottom: 30px;
    border-radius: 10%;
    box-shadow: 3px 5px #CA33FF;
    background: red;
}

.features img {
    margin-bottom: 16px;
}

.bottom-section {
  background-color: #FBC7F7;
}


@media (max-width: 575.98px) {

    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }

    .description h1 {
        font-size: 2em;
    }

    .description p {
        font-size: 1.2rem;
    }

    .features {
        margin: 0;
    }

}
