html {
    scroll-behavior: smooth;
      background-image: linear-gradient(to right, red, #CA33FF);
}


body {
    padding: 0;
    margin: 0;
    color: #78DEC7;
    background-image: linear-gradient(to right, red, #CA33FF);
}

.navbar {
    background:#CA33FF;
    border-bottom: solid 2px red;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

.nav-link:hover {
    color: red;
}

.navbar-collapse {
    justify-content: flex-end;
}



.top-container {
  text-align: center;
  padding: 5% 10%;
  /* background-color: #78DEC7; */
  margin-top: 75px;
  font-weight: bold;
}

.bottom-container {
  text-align: center;
  background-color: #78DEC7;
  color: #CA33FF;
  padding: 20px 10px;
  font-weight: bold;
  font-size: 24px;
}

.yeah {
  display: inline;

}

.btn-danger {
  border: black 2px solid;
  filter: drop-shadow(-3px 7px 5px black);
  width: 50%;
}

#divMsg1 {
  text-align: center;
  display: inline;
  background-color: #78DEC7;
  color: red;
}

#divMsg2 {
  text-align: center;
  display: inline;
  background-color: #78DEC7;
  color: red;
}

#divMsg3 {
  text-align: center;
  display: inline;
  background-color: #78DEC7;
  color: red;
}
.rtg-john-container {
  margin-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/* .rtg-john-container p {
  margin-top: 76px;

  text-align: center;
} */
.pdp-cta-container {
  display: flex;
  justify-content: space-evenly;
    /* background-color: #78DEC7; */
}

.subscribe-button {
  background-color: #CA33FF;
  color: #78DEC7;
  padding: 8px 25px;
  font-weight: bold;
  border: solid 2px #78DEC7;
  margin-top: 10px;
  filter: drop-shadow(-3px 7px 7px #78DEC7);
  text-align: center;
}



.john-plus-button {
  text-align: center;
  font-weight: bold;
  border:2px solid #CA33FF;
  background-color:#78DEC7;
  color:#CA33FF;
  padding: 8px 25px;
  filter: drop-shadow(-3px 7px 7px #CA33FF);
  margin-top: 10px;
}



@media (max-width: 575.98px) {

    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }

    .description h1 {
        font-size: 2em;
    }

    .description p {
        font-size: 1.2rem;
    }

    .features {
        margin: 0;
    }

}
