html {
    scroll-behavior: smooth;
}


body {
    padding: 0;
    margin: 0;
    background-color: #78DEC7;
}

h2 {
  color: black;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}


h3 {
  color: black;
  font-weight: bold;
  margin-left: 1rem;
}

h4 {
  text-align: center;
  color: #78DEC7;
  padding-bottom: 1rem;
  font-weight: bold;
}

/* NAV BAR */

.navbar {
    background:#CA33FF;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

.nav-link:hover {
    color: red;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header-cta {
  background-color: red;
  border-radius: 3rem;
  margin-left: 50px;
}


/* .alert {
  padding: 15px;
  margin-top: 0px;
  border: 1px solid transparent;
  border-radius: 30px;
  margin-bottom: 0px;
} */

.page-default {
  text-align: center;
  margin-top: 50px;
}

.tab-link-container {
  text-align: center;
}

.tab-link {
  color: #D62AD0;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}


/* CAROUSELS */

.top-carousel-header {
  margin-top: 1rem;

}

#topcarousel {
  text-align: center;
  padding: 0 7px;
}

#firstcarousel {
  background-color: #D62AD0;
  border-radius: 7%;
  border: 1px none;
  box-shadow: 7px 10px #888888;
}

.bottom-carousel-header {
  margin-top: 1rem;

}

#bottomcarousel {
  text-align: center;
  padding: 0 7px;
  margin-bottom: 1rem;
}

#secondcarousel {
  background-color: #FB7AFC;
  border-radius: 7%;
  border: 1px none;
  box-shadow: 7px 10px #888888;
}

.third-carousel-header {
  margin-top: 1rem;

}

#thirdcarousel {
  text-align: center;
  padding: 0 7px;
  margin-bottom: 1rem;
}

#lastcarousel {
  background-color: #CA33FF;
  border-radius: 7%;
  border: 1px none;
  box-shadow: 7px 10px #888888;
}




.carousel-item {
  padding: 7% 15%;
}

.carousel-item.active {
  padding: 7% 15%;
}


.product-image {
  display: block;
  justify-content: center;
  width: 100%;
  border-radius: 50%;
}




.btn-primary {
  margin-top: 1rem;
  text-align: center;

}
